fastapi>=0.128.0
httpx==0.25.2
openai>=2.15.0
pillow>=12.1.0
psycopg2-binary>=2.9.11
pydantic>=2.12.5
pydantic-settings>=2.12.0
pymupdf>=1.26.7
pytest>=9.0.2
pytest-asyncio>=1.3.0
python-dotenv>=1.2.1
python-multipart>=0.0.21
sqlalchemy>=2.0.45
uvicorn[standard]>=0.40.0